/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2.6rem;
}

li,button,label,input,p {
    font-size: 1.5rem;
}

.hero h2 {
    font-size: 4.8rem;
}
.hero h3 {
    font-weight: normal;
    font-size: 3rem;
    padding: 5rem;
}
h4 {
    font-size: 2.8rem;
}
a {
    color: white;
    text-decoration: none;
}

.hero button {
    background-color: white;
    padding: 2rem 5rem;
    border: none;
    border-radius: 10px;
    font-size: 1.8rem;
    cursor: pointer;
    transition: background 0.5s ease-in-out;
}
button:hover {
    background: #9dc2f0;
}


/* Nav Section + Hero */

.mainHead {
    background: #131c27;
    color: white;
}

nav {
    min-height: 9vh;
    display: flex;
    padding: 2rem;
    width: 90%;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

#logo {
    flex: 3 1 40rem;
    font-family: 'Pattaya', sans-serif;
}

.hero {
    min-height: 90vh;
    background: linear-gradient(rgb(11, 58, 85),transparent),url('img/robert-bye-a0x0H8Wq87Y-unsplash\ \(1\).jpg');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Locations Section */

#locations {
    padding: 5rem;
    min-height: 100vh;
    background: linear-gradient(rgb(11, 58, 85),transparent),url('img/alex-azabache-IkzKkFyMiak-unsplash.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    color: white;
}

.locations-head h2 {
    padding: 1rem 2rem;
    text-decoration: underline;
    text-decoration-thickness: 0.5rem;
    font-size: 4rem;
}

.locations-head h3 {
    padding: 4rem 2rem;
    font-size: 3rem;
}


/* Benefits Section */

.benefits-head {
    background: #343c44;
    padding: 3rem;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.benefits-head h2 {
    font-size: 3rem;
    font-weight: normal;
}
.benefits-head h3 {
    padding: 1rem;
    font-size: 2rem;
    font-weight: normal;
}

.cards {
    
    width: 90%;
    margin: auto;
    display: flex;
    min-height: 70vh;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    text-align: center;
    flex: 1 1 25rem;
    min-height: 30vh;
    margin: 2rem 5rem;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1),0px 20px 20px rgba(0, 0, 0, 0.1);
}
.cards img {
    max-width: 15%;
    margin: 3rem;
}

.card h4 {
    padding-top: 3rem;
} 
.card p { 
    padding: 1rem;
}

.card p {
    font-size: 2rem;
    font-weight: normal;
}

.card-icon {
    background-color: #30445c;
}

#contact {
    min-height: 100vh;
    background: linear-gradient(rgb(11, 58, 85),transparent),url('img/aaron-burson-YihQdPSK9jI-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-wrapper {
    background: rgba(42, 58, 78, 0.8);
    width: 60%;
    color: white;
    border-radius: 20px;
}

.form-head {
    font-size: 2rem;
    text-align: center;
    padding: 4rem;
}

.name-form, .email-form {
    padding: 3rem;
    text-align: center;
}

.form-wrapper label {
    margin: 0rem 3rem;
}

.form-wrapper button {
    width: 100%;
    padding: 2rem;
    transition: background 0.5s ease-in-out;
    margin-top: 8rem;
    background-color: white;
    padding: 2rem 5rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
}
.form-wrapper button:hover {
    background: #9dc2f0;
}

.form-wrapper input {
    padding: 1rem 3rem;
}


/* FOOTER */

footer {
    
}

footer h5 {
    position: relative;
    
    font-size: 1rem;
    padding-right: 90rem;
}

.footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


footer img {
    padding-right: 1rem;
    width: 4rem;
}
















/* Media Query */
@media screen and (max-width: 768px) {
    html {
        font-size: 60%;
    }
}

@media screen and (max-width: 932px){
    html{
        font-size: 45%;
    }
    nav {
        text-align: center;
    }
    #logo {
        padding: 1rem;
    }
    .form-wrapper {
        width: 100%;
    }
    footer {
        text-align: center;
    }
    footer h5 {
        padding-bottom: 3rem;
    }
}
